@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

/* ==========================
   RESET BÁSICO
   ========================== */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ==========================
   TIPOGRAFÍA / BASE
   ========================== */

html,
body {
  font-family: 'Poppins', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

ul {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  color: #2d2d2d;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: #727272;
}

/* ==========================
   IMÁGENES
   ========================== */

img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

img.smallLogo {
  width: 50px;
}


/* ==========================
   GLOBAL LAYOUT / SECCIONES
   ========================== */

.section {
  margin-top: 120px;
}

.section-heading {
  margin-bottom: 70px;
}

.section-heading h2 {
  margin-top: 30px;
  text-transform: capitalize;
  line-height: 44px;
}

.section-heading h2 em {
  font-style: normal;
  color: #0071f8;
}

.section-heading h6 {
  color: #ee626b;
  text-transform: uppercase;
}


/* ==========================
   BANNER (TEXTOS)
   ========================== */

.banner-left .caption h6 {
  color: #8ec5f3;
  font-size: 30px;
}

.banner-left .caption h2 {
  font-size: 50px;
  color: #fff !important;
}

.banner-left .caption p {
  color: #fff !important;
}


/* ==========================
   BOTONES PRINCIPALES
   ========================== */

.main-button a {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  border-radius: 25px;
  background-color: #ee626b;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .3s;
}

.main-button a:hover {
  background-color: #0071f8;
  color: #fff;
}
