{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Plataforma Juegos{% endblock %}

{% block index %}

<!-- <h1> Jugadores</h1>

{% for jugador in jugadores %}

    <h2>{{ jugador.nombre }}</h2>
    <p>{{ jugador.apodo }}</p>
    <p>{{ jugador.descripcion }}</p>
    <p>{{ jugador.año_nacimiento }}</p>
    {% if jugador.es_profesional %}
        <p>{{ jugador.equipo }}</p>
        <img src="{{jugador.logo_equipo}}" alt="logo equipo" width="100px" height="100px">
    {% endif %}
    <a href="{% url 'detalle_jugador' jugador.pk %}">Click aqui para ver el detalle de {{jugador.nombre}}</a>

{% empty %}
    <p>No hay Jugadores.</p>
{% endfor %}

<br><br>
<a href="{% url 'home' %}"> Volver atrás </a> -->

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Players</h3>
          <span class="breadcrumb"><a href="#">Home</a> > Our Shop</span>
        </div>
      </div>
    </div>
  </div>

  <div class="section trending">
    <div class="container">
      <ul class="trending-filter">
        <li>
          <a class="is_active" href="#!" data-filter="*">Show All</a>
        </li>
        <li>
          <a href="#!" data-filter=".adv">Adventure</a>
        </li>
        <li>
          <a href="#!" data-filter=".str">Strategy</a>
        </li>
        <li>
          <a href="#!" data-filter=".rac">Racing</a>
        </li>
      </ul>
      <div class="row trending-box">
        {% for jugador in jugadores %}


        <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 adv">
          <div class="item">
            <div class="thumb">
              <a href="{% url 'detalle_jugador' jugador.pk %}"><img src="{{jugador.foto_cara}}" alt="foto cara" width="150px" height="150px"></a>
              <!--<span class="price"><em>$36</em>$24</span>-->
            </div>
            <div class="down-content">
              {% if jugador.es_profesional %}
              <span class="category">{{jugador.equipo}}</span>
              {%endif%}
              <h4>{{ jugador.nombre }}</h4>
              <a href="{% url 'detalle_jugador' jugador.pk %}"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>

        {% endfor %}
      <div class="row">
        <div class="col-lg-12">
          <ul class="pagination">
          <li><a href="#"> &lt; </a></li>
            <li><a href="#">1</a></li>
            <li><a class="is_active" href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"> &gt; </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
