<h1> jugadores del juego {{ juego.nombre }}</h1>

{% for jugador in jugadores %}

    <h2>{{ jugador.nombre }}</h2>
    <p>{{ jugador.apodo }}</p>
    <p>{{ jugador.descripcion }}</p>
    <p>{{ jugador.año_nacimiento }}</p>
    {% if jugador.es_profesional %}
        <p>{{ jugador.equipo }}</p>
        <img src="{{jugador.logo_equipo}}" alt="logo equipo" width="100px" height="100px">
    {% endif %}
    <a href="{% url 'detalle_jugador' jugador.pk %}">Click aqui para ver el detalle de {{jugador.nombre}}</a>

{% empty %}
    <p>No hay Jugadores.</p>
{% endfor %}

<br><br>
<a href="{% url 'home' %}"> Volver atrás </a>