<!DOCTYPE html>
<html lang="es">

    <head>
        {% load static %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <title>{% block title %}Plataforma juegos{% endblock %}</title>

        <!-- BOOTSTRAP CORE CSS -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/global_styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/header_footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/views.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
        <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
        {% block head %}{% endblock %}

        <!-- SCRIPTS -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/isotope.min.js' %}"></script>
        <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
        <script src="{% static 'assets/js/counter.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>
        <script src="{% static 'assets/js/chatbot_script.js' %}"></script>
        <script src="{% static 'assets/js/apply_scraper.js' %}"></script>

        <!-- FAVICON -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'assets/images/favicon/site.webmanifest' %}">
        {% block scripts %}{% endblock %}
    </head>

    <body>

        <!-- START PRELOADER -->
        <div id="js-preloader" class="js-preloader">
            <div class="preloader-inner">
                <span class="dot"></span>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <!-- HEADER -->
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- LOGO -->
                            <a href="{% url 'home' %}" class="logo">
                                <img src="{% static 'assets/images/logo.png' %}" alt="DeustoGames Logo" style="width: 158px;">
                            </a>

                            <!-- MENU -->
                            <ul class="nav">
                                <li><a href="{% url 'home' %}" >Inicio</a></li>
                                <li><a href="{% url 'lista_plataformas' %}">Plataformas</a></li>
                                <li><a href="{% url 'lista_juegos' %}">Juegos</a></li>
                                <li><a href="{% url 'lista_jugadores' %}">Jugadores</a></li>
                                <li><a href="#">Translate 🇪🇸</a></li>
                            </ul>

                            <!-- MENU TRIGGER -->
                            <a class="menu-trigger">
                                <span>Menu</span>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>


        <!-- MAIN -->
        <main>
            {% block index %}
            {% endblock %}
        </main>
        

        <!-- FOOTER -->
        <footer>
            <div class="footer-container">
                <!-- LEFT COLUMN-->
                <div class="footer-section">
                    <h3>Enlaces rápidos</h3>
                    <ul>
                        <li><a href="{% url 'lista_plataformas' %}">Plataformas</a></li>
                        <li><a href="{% url 'lista_juegos' %}">Juegos</a></li>
                        <li><a href="{% url 'lista_jugadores' %}">Jugadores</a></li>
                    </ul>
                </div>

                <!-- CENTER COLUMN -->
                <div class="footer-section">
                    <h3>Contacto</h3>
                    <ul>
                        <li>Email: info@luxG.com</li>
                        <li>Teléfono: +34 912 34 56 78</li>
                        <li>Dirección: Ave del paraiso, 7</li>
                    </ul>
                </div>

                <!-- RIGTH COLUMN -->
                <div class="footer-section">
                    <h3>Síguenos</h3>
                    <ul>
                        <li><a href="https://x.com/?lang=es"><img src="/static/assets/images/X-icon.jpg" alt="X" class="social-icon"> X</a></li>
                        <li><a href="https://www.facebook.com/?locale=es_ES"><img src="/static/assets/images/facebook-icon.jpg" alt="Facebook" class="social-icon"> Facebook</a></li>
                        <li><a href="https://www.instagram.com/"><img src="/static/assets/images/instagram-icon.jpg" alt="Instagram" class="social-icon"> Instagram</a></li>
                    </ul>
                </div>

                <!-- COPYRIGHT -->
                <div class="copyright">
                        <p>Copyright © 2048 LUGX Gaming Company. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </body>
</html>