{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}DeustoGames{% endblock %}

{% block index %}
    <!-- MAIN -->
    <div class="main-banner">
        <div class="container">
            <div class="banner-inner">
                <!-- TEXTO MAIN IZQUIERDA -->
                <div class="banner-left">
                    <div class="caption header-text">
                        <h6>{% trans "Bienvenido a DeustoGames" %}</h6>
                        <h2>{% trans "LA MEJOR PLATAFORMA DE VIDEOJUEGOS" %}</h2>
                        <p>{% trans "DeustoGames es la web de información sobre videojuegos, jugadores profesionales y plataformas de esports con base en Bilbao, País Vasco. Te ofrecemos noticias actualizadas, perfiles de jugadores, datos de equipos y todo lo relacionado con las principales plataformas y títulos competitivos." %}</p>
                    </div>
                </div>

                <!-- IMAGEN MAIN DERECHA -->
                <div class="banner-right">
                    <div class="right-image">
                        <img src="{% static 'assets/images/banner-image.jpg' %}" alt="Imagen principal del banner" class="banner-image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CARACTERÍSTICAS -->
    <div class="features">
        <div class="container">
            <div class="row">

                <!-- PLATAFORMAS -->
                <div class="col-lg-3 col-md-6">
                    <a href="/plataformas/">
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'assets/images/featured-01.png' %}" alt="Icono de la sección de plataformas">
                            </div>
                            <h4>{% trans "Plataformas" %}</h4>
                        </div>
                    </a>
                </div>

                <!-- JUGADORES -->
                <div class="col-lg-3 col-md-6">
                    <a href="/jugadores/">
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'assets/images/featured-02.png' %}" alt="Icono de la sección de jugadores">
                            </div>
                            <h4>{% trans "Jugadores" %}</h4>
                        </div>
                    </a>
                </div>

                <!-- PARTIDAS -->
                <div class="col-lg-3 col-md-6">
                    <a href="/juegos/">
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'assets/images/featured-03.png' %}" alt="Icono de la sección de partidas">
                            </div>
                            <h4>{% trans "Partidas" %}</h4>
                        </div>
                    </a>
                </div>

                <!-- NOTICIAS -->
                <div class="col-lg-3 col-md-6">
                    <a href="#">
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'assets/images/featured-04.png' %}" alt="Icono de la sección de noticias">
                            </div>
                            <h4>{% trans "Noticias" %}</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- SECCIÓN CHATBOT -->
    <div id="chatbot-section">
        <div class="container"> 
            <!-- TÍTULO -->
            <div class="section-heading">
                <h2>{% trans "Habla con Deusti, la IA de DeustoGames" %}</h2>
            </div>

            <!-- CHAT -->
            <div id="chatbot-container" class="hidden">
                <div id="chatbot-header">
                    <span>{% trans "Chatbot Deusti" %}</span>
                </div>
                <div id="chatbot-body">
                    <div id="chatbot-messages"></div>
                </div>

                <div id="chatbot-input-container">
                    <input
                        type="text"
                        id="chatbot-input"
                        placeholder="{% trans 'Escribe un mensaje...' %}">
                    <button id="send-btn">{% trans "Enviar" %}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- SECCIÓN DE TENDENCIAS -->
    <div class="section trending">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h6>{% trans "Tendencias" %}</h6>
                        <h2>{% trans "Juegos de móbil en tendencias" %}</h2>
                    </div>
                </div>
            </div>

            <!-- CONTENEDOR DINÁMICO TENDENCIAS (JS) -->
            <div class="row" id="trending-games-container"></div>
        </div>
    </div>

    <!-- SECCIÓN DE MÁS JUGADOS -->
    <div class="section most-played">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h6>{% trans "Juegos más TOP" %}</h6>
                        <h2>{% trans "Más jugados en Steam" %}</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="main-button">
                    </div>
                </div>
            </div>

            <!-- CONTENEDOR DINÁMICO MÁS JUGADOS (JS) -->
            <div class="row" id="most-played-games-container"></div>
        </div>
    </div>

    <!-- SECCIÓN DE CATEGORÍAS -->
    <div class="section categories">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h6>{% trans "Categorías" %}</h6>
                        <h2>{% trans "Categorías más top" %}</h2>
                    </div>
                </div>

                <!-- SHOOTER -->
                <div class="col-lg col-sm-6 col-xs-12">
                    <div class="item">
                        <h4>Shooter</h4>
                        <div class="thumb">
                            <a href="{% url 'lista_juegos' %}">
                                <img src="{% static 'assets/images/categories-01.jpg' %}" alt="Imagen de la categoría shooter">
                            </a>
                        </div>
                    </div>
                </div>

                <!-- ESTRATEGIA -->
                <div class="col-lg col-sm-6 col-xs-12">
                    <div class="item">
                        <h4>{% trans "Estrategia" %}</h4>
                        <div class="thumb">
                            <a href="{% url 'lista_juegos' %}">
                                <img src="{% static 'assets/images/categories-04.jpg' %}" alt="Imagen de la categoría estrategia">
                            </a>
                        </div>
                    </div>
                </div>

                <!-- MOBA -->
                <div class="col-lg col-sm-6 col-xs-12">
                    <div class="item">
                        <h4>MOBA</h4>
                        <div class="thumb">
                            <a href="{% url 'lista_juegos' %}">
                                <img src="{% static 'assets/images/categories-02.jpg' %}" alt="Imagen de la categoría MOBA">
                            </a>
                        </div>
                    </div>
                </div>

                <!-- ACCIÓN -->
                <div class="col-lg col-sm-6 col-xs-12">
                    <div class="item">
                        <h4>{% trans "Acción" %}</h4>
                        <div class="thumb">
                            <a href="{% url 'lista_juegos' %}">
                                <img src="{% static 'assets/images/categories-03.jpg' %}" alt="Imagen de la categoría acción">
                            </a>
                        </div>
                    </div>
                </div>

                <!-- HISTORIA -->
                <div class="col-lg col-sm-6 col-xs-12">
                    <div class="item">
                        <h4>{% trans "Historia" %}</h4>
                        <div class="thumb">
                            <a href="{% url 'lista_juegos' %}">
                                <img src="{% static 'assets/images/categories-05.jpg' %}" alt="Imagen de la categoría historia">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SECCIÓN NEWSLETTER -->
    <div class="section cta">
        <div class="container">
            <div class="row">

                <!-- CARTEL LADO IZQUIERDO -->
                <div class="col-lg-5">
                    <div class="shop">
                        <div class="row">
                            <!-- TEXTO -->
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h6>{% trans "Destacado" %}</h6>
                                    <h2>
                                        {% blocktrans %}
                                        Noticias, lanzamientos y contenido <em>exclusivo</em> cada semana.
                                        {% endblocktrans %}
                                    </h2>
                                </div>
                                <p>
                                    {% trans "Únete a nuestra comunidad y recibe lo mejor de los videojuegos directamente en tu inbox." %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CARTEL LADO DERECHO -->
                <div class="col-lg-5 offset-lg-2 align-self-end">
                    <div class="subscribe">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- TEXTO -->
                                <div class="section-heading">
                                    <h6>{% trans "NEWSLETTER" %}</h6>
                                    <h2>
                                        {% blocktrans %}
                                        No te pierdas nada del mundo gamer, <em>suscríbete hoy</em>.
                                        {% endblocktrans %}
                                    </h2>
                                </div>
                                <!-- FORMULARIO EMAIL -->
                                <div class="search-input">
                                    <form id="subscribe" action="#">
                                        <input
                                            type="email"
                                            class="form-control"
                                            id="exampleInputEmail1"
                                            aria-describedby="emailHelp"
                                            placeholder="{% trans 'Tu correo electrónico...' %}">
                                        <button type="submit">{% trans "Suscríbete" %}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
