<h1>{{ juego.nombre }}</h1>

<p><strong>Compañia:</strong> {{ juego.companyia }}</p>
<p><strong>Fecha lanzamiento:</strong> {{ juego.fecha_lanzamiento }}</p>
<p><strong>PEGI:</strong> {{ juego.PEGI }}</p>

<img src="{{ juego.logo }}" alt="logo" width="500px">

{% if juego.plataformas %}
<p><strong>Plataformas:</strong> </p>
{% for plataforma in plataformas %}
<li>
    <a href="{% url 'detalle_plataforma' plataforma.pk %}">
        {{ plataforma.nombre }}
    </a>
</li>
{%endfor%}
{% else %}
<p><strong>Plataforma:</strong> (No asignada)</p>
{% endif %}

<a href="{% url 'lista_juegos' %}">Volver al listado de juegos</a>
