{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Plataforma Juegos{% endblock %}

{% block index %}

<!-- <h1>Juegos</h1>

{% for juego in juegos %}

    <h2>{{ juego.nombre }}</h2>
    <p>{{ juego.companyia }}</p>
    <p>{{ juego.fecha_lanzamiento }}</p>
    <p>PEGI: {{ juego.PEGI }}</p>

    <img src="{{ juego.logo }}" alt="logo juego" width="100" height="100">

    <a href="{% url 'detalle_juego' juego.pk %}"> Click aqui para ver el detalle de {{juego.nombre}} </a>


{% empty %}
    <p>No hay juegos.</p>
{% endfor %}

<br><br>
<a href="{% url 'home' %}"> Volver atrás </a> -->

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Our Shop</h3>
          <span class="breadcrumb"><a href="#">Home</a> > Our Shop</span>
        </div>
      </div>
    </div>
  </div>

  <div class="section trending">
    <div class="container">
      <ul class="trending-filter">
        <li>
          <a class="is_active" href="#!" data-filter="*">Show All</a>
        </li>
        <li>
          <a href="#!" data-filter=".adv">Adventure</a>
        </li>
        <li>
          <a href="#!" data-filter=".str">Strategy</a>
        </li>
        <li>
          <a href="#!" data-filter=".rac">Racing</a>
        </li>
      </ul>
      <div class="row trending-box">

        {% for juego in juegos %}


        <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 adv">
          <div class="item">
            <div class="thumb">
              <a href="{% url 'detalle_juego' juego.pk %}"><img src="{{juego.logo}}" alt="logo del juego" width="150px" height="150px"></a>
              <!--<span class="price"><em>$36</em>$24</span>-->
            </div>
            <div class="down-content">
              <span class="category">{{juego.companyia}}</span>
              <h4>{{ juego.nombre }}</h4>
              <a href="{% url 'detalle_juego' juego.pk %}"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>

        {% endfor %}
      <div class="row">
        <div class="col-lg-12">
          <ul class="pagination">
          <li><a href="#"> &lt; </a></li>
            <li><a href="#">1</a></li>
            <li><a class="is_active" href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"> &gt; </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
