<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block title %}Juegos - Lista Juegos{% endblock %}

{% block index %}

<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Juegos</h3>
        <span class="breadcrumb"><a href="/plataformas/">Inicio</a> > Juegos</span>
      </div>
    </div>
  </div>
</div>

<div class="section trending">
  <div class="container">
    <h5 class="filter-title">Filtrar por:</h5>
    <ul class="trending-filter">
      <li>
        <a class="{% if not request.GET.pegi %}is_active{% endif %}" href="{% url 'lista_juegos' %}">
          Show All
        </a>
      </li>

      <li>
        <a class="{% if request.GET.pegi == '3' %}is_active{% endif %}" href="?pegi=3">
          PEGI 3
        </a>
      </li>

      <li>
        <a class="{% if request.GET.pegi == '7' %}is_active{% endif %}" href="?pegi=7">
          PEGI 7
        </a>
      </li>

      <li>
        <a class="{% if request.GET.pegi == '12' %}is_active{% endif %}" href="?pegi=12">
          PEGI 12
        </a>
      </li>

      <li>
        <a class="{% if request.GET.pegi == '16' %}is_active{% endif %}" href="?pegi=16">
          PEGI 16
        </a>
      </li>

      <li>
        <a class="{% if request.GET.pegi == '18' %}is_active{% endif %}" href="?pegi=18">
          PEGI 18
        </a>
      </li>
    </ul>
    <div class="row trending-box">

      {% for juego in page_obj %}


      <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 adv">
        <div class="item">
          <div class="thumb">
            <a href="{% url 'detalle_juego' juego.pk %}"><img src="{{juego.logo}}" alt="logo del juego" width="150px"
                height="150px"></a>
            <!--<span class="price"><em>$36</em>$24</span>-->
          </div>
          <div class="down-content">
            <span class="category" data-PEGI="{{juego.PEGI}}">{{juego.companyia}}</span>
            <h4>{{ juego.nombre }}</h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="pagination">

          {% if page_obj.has_previous %}
          <li>
            <a
              href="?{% if request.GET.pegi %}pegi={{ request.GET.pegi }}&{% endif %}page={{ page_obj.previous_page_number }}">
              &lt;
            </a>
          </li>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
          {% if num == page_obj.number %}
          <li><a class="is_active">{{ num }}</a></li>
          {% else %}
          <li>
            <a href="?{% if request.GET.pegi %}pegi={{ request.GET.pegi }}&{% endif %}page={{ num }}">
              {{ num }}
            </a>
          </li>
          {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}<li>
            <a
              href="?{% if request.GET.pegi %}pegi={{ request.GET.pegi }}&{% endif %}page={{ page_obj.next_page_number }}">
              &gt;
            </a>
          </li>
          {% endif %}

        </ul>

      </div>
    </div>
  </div>

  {% endblock %}