{% extends 'base.html' %}
{% load static %}

{% block title %}Plataformas - Detalle Plataformas{% endblock %}

{% block index %}

<!-- <h1>{{plataforma.nombre}}</h1>

<p><strong>Compañia: </strong>{{plataforma.companyia}}</p>
<p><strong>Fecha de fundacion: </strong>{{plataforma.fecha_lanzamiento}}</p>

<img src="{{plataforma.logo}}" alt="logo de la plataforma" width="150px" height="150px">

<a href="{% url 'lista_plataformas' %}">Volver al listado de plataformas</a> -->

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>{{plataforma.nombre}}</h3>
          <span class="breadcrumb"><a href="/plataformas/">Inicio</a>  >  <a href="/plataformas/plataformas/">Plataformas</a>  >  {{plataforma.nombre}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="single-product section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="{{plataforma.logo}}" alt="logo plataforma">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <h4>{{plataforma.nombre}}</h4>
          <p>{{plataforma.descripcion}}</p>
          <ul>
            <li><span>Compañia:</span> {{plataforma.companyia}}</li>
            <li><span>Fecha de lanzamiento:</span>{{plataforma.fecha_lanzamiento}}</li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="sep"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tabs-content">
            <div class="row">
              <div class="nav-wrapper ">
                <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
              </div>              
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                  <p>{{plataforma.descripcionLarga}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section categories related-games">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>Action</h6>
            <h2>Related Games</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="shop.html">View All</a>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>Action</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/categories-01.jpg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>Action</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/categories-05.jpg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>Action</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/categories-03.jpg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>Action</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/categories-04.jpg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>Action</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/categories-05.jpg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


