{% extends 'base.html' %}
{% load static %}

{% block title %}Plataformas - Detalle Plataformas{% endblock %}

{% block index %}

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>{{plataforma.nombre}}</h3>
          <span class="breadcrumb"><a href="/">Inicio</a>  >  <a href="/plataformas/">Plataformas</a>  >  {{plataforma.nombre}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="single-product section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="{{plataforma.logo}}" alt="logo plataforma">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <h4>{{plataforma.nombre}}</h4>
          <p>{{plataforma.descripcion}}</p>
          <ul>
            <li><span>Compañia:</span> {{plataforma.companyia}}</li>
            <li><span>Fecha de lanzamiento:</span>{{plataforma.fecha_lanzamiento}}</li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="sep"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tabs-content">
            <div class="row">
              <div class="nav-wrapper ">
                <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
              </div>              
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                  <p>{{plataforma.descripcionLarga}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


